/* Service Section style */
.services-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.service-card {
  border: 1px solid #0000001a;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 40px;
  width: 400px;
}
.service-card:hover {
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.service-card h1 {
  font-size: 26px;
  font-weight: 700;
}
.service-card p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
}
.service-img {
  width: fit-content;
  background-color: #f5ddc4;
  padding: 18px 20px;
  border-radius: 50px;
  align-items: center;
}
.service-img img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

/* Popular Item style */
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.card{
  width: 400px;
  height: auto;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  
}
.card-img img{
  width: 100%;
  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-info{
  display: flex;
  justify-content: space-between;
  
  padding: 20px 10px;
  
}
.info-left h1{
font-size: 26px;
font-weight: 700;
}
.info-left button{
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #F48E28;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}
.amount{
  margin-top: 50px;
  font-weight: 500;
}
.check-all-menu button{
  padding: 15px 10px;
  border: none;
  outline: none;
  background-color: #F48E28;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.check-all-menu{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  
}
/* Testimonials Section Start */
.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-img img {
  width: 600px;
  height: 400px;
}
.testimonial-card {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: fit-content;
  padding: 60px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.user_info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.user_info img {
  border-radius: 50%;
}
.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}

/* Newsletter section styles */
.newsletterSection {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin: 60px 0px;
  padding: 0px 20px;
}
.newsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.newsInfo h1 {
  font-size: 26px;

  font-weight: 700;
}
.newsInfo p {
  line-height: 1.5rem;
}
.input{
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 10px;
}
.input input{
  padding: 5px 10px;
  border: none;
  outline: none;
}
.input button{
  padding: 15px 10px;
  border: none;
  outline: none;
  background-color: #F48E28;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Footer Section style */
footer{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  
}
.sec-1 img{
width: 180px;
height: 100px;
margin-bottom: 20px;
}
.sec-1 p{
  color:  #B6B6B6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2rem;
}
.footer-social{
  display: flex;
  gap: 10px;
}
.info-img-bg{
  background-color: #F5DDC4;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 50px;
  align-items: center;
  margin-top: 20px;
}
.info-img-bg img{
 width: 30px;
 height: 30px;
 margin: 5px;
 cursor: pointer;
}
.footer-info h1{
  
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}
.footer-list li{
  list-style: none;
  margin: 5px 0px;
}
.footer-input{
  padding: 10px 5px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}
.footer-input input{
  padding: 5px 10px;
  border: none;
  outline: none;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
  /* Service Section style */
  .services-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .service-card {
    gap: 20px;
    padding: 40px 30px;
    width: 100%;
  }
  /* Testimonials Section Start */
  .testimonials {
    flex-direction: column;
  }
  .testimonial-img img {
    margin-top: 60px;
    width: 100%;
    height: 200px;
  }

  .left-arrow {
    margin-right: -70px;
  }

  .right-arrow {
    margin-left: -60px;
  }
  /* Newsletter section styles */
.newsletterSection {
  flex-direction: column;
  border-radius: 50px;
  margin: 60px 10px;
  padding: 0px 20px;
  overflow: hidden;
}
.news-img img{
  width: 160px;
  height: 200px;
}
.newsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.newsInfo p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.input{
  width: 90%;
  background-color: #FFF;
  border-radius: 10px;
}
.input input{
  padding: 5px 10px;
  
}
.input button{
width: 100%;
margin-top: 20px;
}
/* Popular Item style */
.cards{
  
  grid-template-columns: repeat(1,1fr);
  
}
.card{
  width: 100%;
  
}
/* Footer Section style */
footer{
  flex-direction: column;
 
}
}
